<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endwith %}
    <p>{{username}}您好！</p>
    {% if files %}
        <p>您当前上传了以下文件</p>
        <ui>
        {% for file in files %}
            <li>
                {{file.filename}}(已加密)
                {% if file.shared %}
                (已共享)
                {% else %}
                (未共享)
                {% endif %}
                <a href="/files/download?filename={{file.filename}}&type=encrypted">下载</a>
                <a href="/files/download?filename={{file.filename}}&type=hashvalue">下载哈希值</a>
                <a href="/files/download?filename={{file.filename}}&type=plaintext">解密并下载</a>
                <a href="/files/download?filename={{file.filename}}&type=signature">下载签名文件</a>
                <a href="/files/share?filename={{file.filename}}">
                {% if file.shared %}
                    取消共享
                {% else %}
                    进行共享
                {% endif %}
                </a>
                <a href="/file/remove?filename={{file.filename}}">删除</a>
            </li>
        {% endfor %}
        </ui>
    {% else %}
        <p>您当前没有上传任何文件</p>
    {% endif %}
    <a href="/files/upload">上传</a>
    <a href="/files/share">共享文件</a>
    <a href="/">退出</a>
</body>
</html>

