<script>
    document.getElementById('decrypt-download-btn').addEventListener('click', function(event) {
        
      event.preventDefault(); // 阻止默认的按钮点击行为
      // 获取文件名称和用户名
      var filename = document.getElementById('file-name').value;
      var username = document.getElementById('user-name').value;
      var password = prompt('请输入验证信息：'); // 弹出验证信息输入框
      var data = {
        password: password,
        filename: filename,
        username: username
      };
      // 发送异步请求给后端进行验证
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/shared_files/verify_download', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          if (response.valid === true) {
            // 验证成功，继续执行下载操作
            window.location.href = '/shared_files/download?filename=' + response.filename + '&username=' + response.username + '&type=' + response.type;;
          } else {
            // 验证失败，弹出提示信息给用户
            alert("验证失败！");
          }
        }
      };
      xhr.send(JSON.stringify({ password: password }));
    });
    </script>
