{% extends "adminlte/base_without_nav.html" %}

{% block title %}注册{% endblock %}
{% block description %}请注册您的账户!{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

<div class="login-box">
    <div class="login-logo">
        <strong>CUC</strong>cloud-注册
    </div>
    <div class="login-box-body">
        {# Display errors (if there are any). #}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {# Render the login form. #}
        <form action="/auth/register" method="post">
            <div class="form-group">
                {{ form.username.label}}
                {{ form.username(class_="form-control") }}
                <p>
                <li style="font-size: 10px;">用户名只能包含数字、中文和英文字符</li>
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class_="form-control") }}
                <p>
                <li style="font-size: 10px;">密码至少需要包含小写字母、大写字母、数字各一</li>
                <p>
                <li style="font-size: 10px;">密码长度在8-36位之间</li>
            </div>
            {{ form.csrf_token }}

            <input class="btn btn-primary" type="submit" value="注册">
        </form>
    </div>
</div>
<div id="message" style="display: none;">{{ message }}</div>

<script>
    var message = document.getElementById('message').textContent;
    
    if (message) {
        alert(message);
    }
</script>
{% endblock %}
